[buildout]
extends = http://dist.plone.org/versions/zope-2-13-22-versions.cfg
          versions.cfg

extensions = mr.developer

always-checkout = force

auto-checkout = openlegis.sagl

parts =
         trml2pdf
         zope2
         zeo
         productdistros
         instance
         import
         extensions
         encoding
         sagl
         zopepy
         omelette

package-name = openlegis.sagl

eggs = ${buildout:package-name}

zcml = ${buildout:package-name}

develop =

versions = versions

unzip = true

[sources]
openlegis.sagl = svn https://github.com/openlegis-br/sagl/trunk/branches/4.0/

[trml2pdf]
recipe = zc.recipe.egg
find-links = http://www.openlegis.com.br/downloads/trml2pdf-1.2.tar.gz
eggs = trml2pdf

[zope2]
recipe = zc.recipe.egg
eggs = Zope2
interpreter = zopepy

[zeo]
recipe = plone.recipe.zeoserver[zrs]
effective-user = zope
replicate-to = 7000
zeo-address = 127.0.0.1:8100
zeo-var = ${buildout:directory}/var
blob-storage = ${zeo:zeo-var}/blobstorage
zeo-conf-additional =
   <zrs 2>
     replicate-to 7001
     keep-alive-delay 60
     <filestorage 2>
        path ${buildout:directory}/var/filestorage/DocumentosSagl.fs
        blob-dir ${zeo:zeo-var}/blobstorage
     </filestorage>
   </zrs>

[productdistros]
recipe = plone.recipe.distros
urls = 
nested-packages =
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
zeo-client = on
zeo-address =  ${zeo:zeo-address}
shared-blob = on
user = admin:admin
effective-user = zope
verbose-security = off
debug-mode = off
event-log-level = info
environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    TEMP ${buildout:directory}/var/tmp
    TMP ${buildout:directory}/var/tmp

zope-conf-additional =
 <zodb_db sagl_documentos>
    cache-size 30000
    <zeoclient>
      read-only false
      blob-dir ${zeo:zeo-var}/blobstorage
      shared-blob-dir on
      server 127.0.0.1:8100
      storage 2
      name zeostorage
      var ${buildout:directory}/parts/instance/var
      cache-size 128MB
    </zeoclient>
    mount-point /sagl/sagl_documentos
 </zodb_db>
 extensions ${buildout:directory}/parts/instance/Extensions

eggs =
    ${buildout:eggs}
    zope.app.container
    Products.LDAPUserFolder
    Products.LDAPMultiPlugins
    z3c.blobfile

zcml = 
    ${buildout:package-name}

products =
    ${buildout:directory}/parts/productdistros

[sagl]
recipe = openlegis.recipe.sagl
sagl-id = sagl
admin-user = admin
mysql-user = root
mysql-pass = interlegis
mysql-db = openlegis
mysql-host = localhost
container-path = /sagl/sagl_documentos
add-mountpoint = on

[import]
recipe = plone.recipe.command
update-command = ${import:command}
command = cp ${buildout:directory}/src/openlegis.sagl/import/*.zexp ${buildout:directory}/var/instance/import/

[extensions]
recipe = plone.recipe.command
update-command = ${extensions:command}
command = cp -r ${buildout:directory}/src/openlegis.sagl/openlegis/sagl/Extensions ${buildout:directory}/parts/instance/

[encoding]
recipe = collective.recipe.template
output = ${buildout:directory}/../env27/lib/python2.7/sitecustomize.py
mode = 600
input = inline:
    import sys
    sys.setdefaultencoding('utf-8')

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy zodbconvert

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
