.slider-container-medical {
  background-color: #111;
}

@media (min-width: 1200px) {
  .slider-container-medical {
    height: 600px;
  }
}

.slider-container-medical .tp-caption strong {
  font-weight: 700 !important;
}

@media (min-width: 992px) {
  .services-group {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .services-group {
    margin-bottom: 40px;
  }
}

.quick-form-container .form-control {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .quick-form-container .btn {
    margin-top: 26px;
  }
}

.quick-gallery-showcase .portfolio-item {
  margin: 0;
  width: 50%;
}

@media (min-width: 481px) {
  .quick-gallery-showcase .portfolio-item {
    width: 33.3%;
  }
}

@media (min-width: 768px) {
  .quick-gallery-showcase .portfolio-item {
    width: 25%;
  }
}

.departments-section .department-action {
  max-width: 540px;
}

.text-block.hover-bg {
  border: 2px solid #fff;
  padding-top: 21px;
  padding-bottom: 17px;
  margin-bottom: 20px;
}

.text-block.hover-bg img {
  background-color: #0069b0;
  outline: 5px solid #0069b0;
}

.widget.hours-widget ul li {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.widget.hours-widget ul li em {
  float: right;
}

.widget.hours-widget ul li:after {
  content: '';
  display: table;
  clear: both;
}
